<!DOCTYPE html>
<html>
  <head>
    <title>AlphaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/navigation.html.erb' %>
    <%= render 'layouts/shared/flash.html.erb' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/shared/footer.html.erb' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
