<h1><%= @article.title %></h1>
<section>
  <p><%= @article.description %></p>
</section>


<%= link_to 'Back to Main', articles_path %><br>
<%= link_to 'Edit This Article', edit_article_path(@article)%><br>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you Sure?"} %>
