<h1>User sign_up form</h1>

<%= form_for(@user) do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: "Enter Usernanme" %><br>

  <%= f.label :password_digest %>
  <%= f.password_field :password_digest, placeholder: "Enter Password" %><br>

  <%= f.submit "Create My Account" %>

<% end %>
